@model MyFirstApi.Models.Product

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create Product</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>

    <button type="submit">Save</button>
    <a asp-action="Index">Back to List</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}