@model IEnumerable<MyFirstApi.Models.Product>
@* recieved Products from CRUD Controller and added it to @model object which then refers to it as Model in for each*@

@{
    ViewData["Title"] = "Products CRUD - Index";
}

<h1>Products (MVC CRUD)</h1>

<p>
    <a asp-action="Create">Create New Product</a>
</p>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@p.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@p.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>